/* @media screen and (min-width: 768px) {
  .container {
    width: 334px;
  }
} */

@media screen and (min-width: 1280px) {
  .table {
    width: 700px;
    margin-top: 46px;
  }
}

@media screen and (max-width: 768px) {
  .tMobile {
    width: 280px;
  }
}
