@keyframes sway {
  0% {
    transform: rotateZ(-15deg) rotateX(55deg);
  }
  30% {
    transform: rotateZ(20deg) rotateX(60deg);
    animation-timing-function: ease-in-out;
  }
  60% {
    transform: rotateZ(-20deg) rotateX(55deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotateZ(0deg) rotateX(58deg);
    animation-timing-function: cubic-bezier(0.99, 0, 0.89, 0.435);
  }
}
@keyframes fall {
  60% {
    filter: drop-shadow(0px 60px 40px rgba(0, 0, 0, 0));
  }
  100% {
    margin-top: 500px;
  }
}

.moneyContainer {
  display: none;
}
@media screen and (min-width: 1280px) {
  .moneyContainer {
    display: block;
    position: relative;
    perspective-origin: center;
    perspective: 1800px;
  }
}

.money1 {
  position: absolute;
  left: 20px;
  transform-origin: 0px -750px 0px;
  animation-name: fall;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(58deg);
  animation-delay: 1s;
}

.money2 {
  position: absolute;
  right: 30px;
  transform-origin: 0px -650px 0px;
  animation-name: fall;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(68deg);
}
.money3 {
  position: absolute;
  right: 1px;
  transform-origin: 0px -950px 0px;
  animation-name: fall, sway;
  animation-duration: 3s, 3s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
.money4 {
  position: absolute;
  right: 5px;
  transform-origin: 0px -700px 0px;
  animation-name: fall;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(65deg);
}
.money5 {
  position: absolute;
  right: 20px;
  transform-origin: 0px -750px 0px;
  animation-name: fall;
  animation-duration: 4s, 4s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(60deg);
}
.money6 {
  position: absolute;
  right: 0.5px;
  transform-origin: 0px -800px 0px;
  animation-name: fall, sway;
  animation-duration: 5s, 5s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
.money7 {
  position: absolute;
  transform-origin: 0px -850px 0px;
  animation-name: fall, sway;
  animation-duration: 3s, 3s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
.money8 {
  position: absolute;
  transform-origin: 0px -750px 0px;
  animation-name: fall, sway;
  animation-duration: 4s, 4s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
.money9 {
  position: absolute;
  right: 20px;
  transform-origin: 0px -850px 0px;
  animation-name: fall, sway;
  animation-duration: 4s, 4s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
.money10 {
  position: absolute;
  transform-origin: 0px -800px 0px;
  animation-name: fall;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(55deg);
}
.money11 {
  position: absolute;
  right: 40px;
  transform-origin: 0px -920px 0px;
  animation-name: fall;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
  transform: rotateX(53deg);
}

.money12 {
  position: absolute;
  right: 3px;
  transform-origin: 0px -720px 0px;
  animation-name: fall, sway;
  animation-duration: 4s, 4s;
  animation-fill-mode: both;
  animation-timing-function: linear, ease-in-out;
}
