.dashboardPage {
  background-color: var(--main-bcg-color);
}

.navBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .dashboardPage {
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--under-wallpaper-bcg-color);
    background-image: url("../../images/bgi-transaction/tablet/transaction-tab.jpg");
    background-size: 768px 1024px;

    /* @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/bgi-transaction/tablet/transaction-tab@2.jpg");
    } */
  }

  .wrapper {
    display: inline-block;
  }

  .flex {
    display: flex;
  }

  .navBox {
    display: inline-block;
    margin-right: 20px;
  }

  .nav {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .dashboardPage {
    display: flex;

    background-image: url("../../images/bgi-transaction/desktop/transaction-desktop.jpg");
    background-size: 1280px 720px;

    /* @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/bgi-transaction/tablet/transaction-desktop@2.jpg");
    } */
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 35px;
  }

  .flex {
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .navBox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .nav {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 0;
  }
}
