/* .rectangle {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
} */

@media screen and (max-width: 767px) {
  .dashboardPage {
    display: block;
    background-color: var(--main-bcg-color);
  }
}

@media screen and (min-width: 768px) {
  .dashboardPage {
    display: block;

    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--under-wallpaper-bcg-color);
    background-image: url("../../images/bgi-transaction/tablet/transaction-tab.jpg");
    background-size: 768px 1024px;

    /* @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/bgi-transaction/tablet/transaction-tab@2.jpg");
    } */
  }
}

@media screen and (min-width: 1280px) {
  .dashboardPage {
    background-image: url("../../images/bgi-transaction/desktop/transaction-desktop.jpg");
    background-size: 1280px 720px;

    /* @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/bgi-transaction/tablet/transaction-desktop@2.jpg");
    } */
  }
}
