.AppBackground {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: all;
}

.ellipseWrapper {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: var(--main-bcg-color);
}

.ellipse1 {
  position: absolute;
  top: 62%;
  left: 5%;
  /*z-index: -1;*/
  filter: blur(35px);
  animation: 22s ease-in-out 0s normal none infinite running rot;
}

.ellipse2 {
  position: absolute;
  top: -5%;
  left: 58%;
  /*z-index: -1;*/
  filter: blur(30px);
  animation: 16s ease-in-out 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
