.container {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 360px 114px 48px 114px;
    background-color: #ffd2d2;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 52px 85px 52px 66px;
  }
}
