@import "stylesheet/var.css";

.title {
  position: absolute;

  font-family: var(--logo__font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .title {
    display: none;
  }
  .container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    position: relative;
    width: 768px;
    height: 1024px;
    background-image: url(images/register/tablet/frame.png);
    background-repeat: no-repeat;
    background-position: left 114px top 60px;
  }

  .title {
    right: 153px;
    top: 163px;
    width: 187px;
    height: 45px;
  }

  .container {
    position: relative;

    width: 768px;
    margin: 0 auto;
  }

  .content_filter {
    position: absolute;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.4;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    position: relative;
    width: 560px;
    height: 720px;
    background-image: url(images/register/desktop/frame.png);
    background-position: left 76px top 150px;
  }

  .content_container {
    position: relative;
    width: 720px;
    height: 720px;
    background-repeat: no-repeat;
    background-position: right 0;
  }

  .container {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }

  .title {
    left: 200px;
    top: 597px;
  }
} ;
