.selectContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .selectContainer {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    flex-direction: column;
    /* min-width: 350px; */
  }
}
