.name {
    font-size: 16px;
    line-height: 1.16;
  }
  
  .leftContainer {
    display: flex;
    align-items: center;
  }

  .containerTab {
    width: 350px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 16px;
    padding-bottom: 21px;
    border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }