@media screen and (max-width: 767px) {
  .nav {
    padding: 10px;
  }

  .list {
    display: flex;
    justify-content: center;
  }

  .item:not(:last-child) {
    margin-right: 30px;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 3px;
  }

  .navImgMob {
    width: 38px;
    height: 38px;
    fill: var(--unselected-svg-color);
    border-radius: 6px;
  }

  .navImgMob:hover,
  .navImgMob:focus {
    fill: var(--accent-svg-color);
    box-shadow: 0px 0px 16px 0px var(--accent-svg-color);
  }

  .navImgTab {
    display: none;
  }

  .text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 30px 0 20px 0;
  }

  .list {
    display: inline-block;
  }

  .item:first-child {
    margin-bottom: 10px;
  }

  .link {
    display: flex;
    align-items: center;

    font-style: var(--logo__font-family);
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;

    fill: var(--unselected-svg-color);
    color: var(--main-text-color);

    transition: color 250ms linear;
  }

  .link:hover,
  .link:focus {
    font-weight: 700;

    fill: var(--accent-svg-color);
  }

  .navImgMob {
    display: none;
  }

  .navImgTab {
    width: 18px;
    height: 18px;
    margin: 3px;
  }

  .navImgTab:hover,
  .navImgTab:focus {
    box-shadow: 0px 0px 16px 0px var(--accent-svg-color);
  }

  .text {
    display: block;
    margin-left: 20px;
  }
}
