.container{
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 50px;

}
.title{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    padding-top:16px;
    padding-bottom:21px;
    padding-left:30px;
    padding-right:30px;

    color: #000000;

}
.name{
    font-size: 16px;
line-height: 1.16;
}
.containerTab{
    width: 350px;

    display: flex;
    justify-content: space-between;
}
.leftContainer{

    display: flex;
    align-items: center;
}
.containerTab{
    margin-left: 20px;
    margin-top: 9px;
    padding-bottom: 21px;
    border-bottom:  1px solid #DCDCDF;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);

}
.containerSum{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.titleSum{
    font-weight: 800;
font-size: 16px;
line-height: 19px;
}
.costs{
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FF6596;
}
.income{
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #24CCA7;
}