.button {
  border: none;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 6px 15px #24cca7;
  width: 44px;
  height: 44px;
  right: 20px;
  bottom: 20px;
  padding: 0;
  display: block;
  background-color: #24cca7;
}

.buttonIcon {
  color: #fff;

  cursor: pointer;
}

.button:hover,
.button:focus {
  transform: scale(1.2);
}

.modalMobile {
  position: absolute;
  top: 60px;
  z-index: 1300;
  width: 100%;
  background-color: #fff;
}
